﻿
@using Microsoft.AspNetCore.Identity
@using TobeAppWeb.Modelos
@inject SignInManager<ApplicationUser> signinmanager

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TobeAppWeb</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Tobe <span> behave </span></h3>
        </div>
        <div class="right_area">
            <div class="logout_btn">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">

        <div id="menu" class="mobile_nav_items">
            @if (signinmanager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
            {
                <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                <a asp-controller="Entidad" asp-action="Index"><i class="fas fa-building"></i><span>Entidades registradas</span></a>
                <a asp-controller="Adminis" asp-action="ListRoles"><i class="fas fa-table"></i><i class="fas fa-table"></i><span>Editar roles</span></a>
                <a asp-controller="Asp_Net_Users" asp-action="Index"><i class="fas fa-users-cog"></i><span>Usuarios administradores</span></a>
                <a asp-controller="Usuarios_" asp-action="Index"><i class="fas fa-users"></i><span>Usuarios</span></a>
                <a asp-controller="Permiso_UsuariosSA" asp-action="Index"><i class="fas fa-key"></i><span>Permisos clientes</span></a>
                <a asp-controller="Reportes" asp-action="Index"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
                <a href="#"><i class="fas fa-sliders-h"></i><span>Ajustes</span></a>
            }
            @if (signinmanager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                <a asp-controller="Sedes_" asp-action="Index"><i class="fas fa-mail-bulk"></i><span>Componentes</span></a>
                <a asp-controller="Eventos_y_Noticias" asp-action="Index"><i class="fas fa-newspaper"></i><span>Tablas</span></a>
                <a asp-controller="Permiso_Usuarios" asp-action="Index"><i class="fas fa-users"></i><span>Formularios</span></a>
                <a asp-controller="Reporte_Covid" asp-action="IndexSinNotifi"><i class="fas fa-info-circle"></i><span>Acerca de</span></a>
                <a asp-controller="Reporte_Covid" asp-action="Index"><i class="fas fa-info-circle"></i><span>About</span></a>
                <a asp-controller="Notificaciones_aReporte_Covid" asp-action="Index"><i class="fas fa-comments"></i><span>About</span></a>
                <a asp-controller="Reportes" asp-action="IndexAdmin"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
                <a href="#"><i class="fas fa-sliders-h"></i><span>Ajustes</span></a>
            }
        </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
        <div class="profile_info">
            <img src="/Images/Logotobe.png" class="profile_image" alt="">

        </div>
        @if (signinmanager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
        {
            <a href="#"><i class="fas fa-desktop"></i><span>Super Admin</span></a>
            <a asp-controller="Entidad" asp-action="Index"><i class="fas fa-building"></i><span>Entidades registradas</span></a>
            <a asp-controller="Adminis" asp-action="ListRoles"><i class="fas fa-table"></i><span>Editar roles</span></a>
            <a asp-controller="Asp_Net_Users" asp-action="Index"><i class="fas fa-users-cog"></i><span>Usuarios administradores</span></a>
            <a asp-controller="Usuarios_" asp-action="Index"><i class="fas fa-users"></i><span>Usuarios</span></a>
            <a asp-controller="Permiso_UsuariosSA" asp-action="Index"><i class="fas fa-key"></i><span>Permisos Clientes</span></a>
            <a asp-controller="Reportes" asp-action="Index"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
        }
        @if (signinmanager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a href="#"><i class="fas fa-desktop"></i><span>Admin</span></a>
            <a asp-controller="Sedes_" asp-action="Index"><i class="fas fa-mail-bulk"></i><span>Sedes registradas</span></a>
            <a asp-controller="Eventos_y_Noticias" asp-action="Index"><i class="fas fa-newspaper"></i><span>Noticias, eventos o retos</span></a>
            <a asp-controller="Permiso_Usuarios" asp-action="Index"><i class="fas fa-users"></i><span>Usuarios con permiso</span></a>
            <a asp-controller="Reporte_Covid" asp-action="IndexSinNotifi"><i class="fas fa-chart-line"></i><span>Reportes covid sin notificar</span></a>
            <a asp-controller="Reporte_Covid" asp-action="Index"><i class="fas fa-chart-line"></i><span>Reportes covid notificados</span></a>
            <a asp-controller="Notificaciones_aReporte_Covid" asp-action="Index"><i class="fas fa-comments"></i><span>Notificaciones envidadas</span></a>
            <a asp-controller="Reportes" asp-action="IndexAdmin"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
            <a asp-controller="Reportes" asp-action="Indexp"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
        }
    </div>
    <!--sidebar end-->

    <div class="content">
        <div class="container">
            <div id="der">
                @RenderBody()
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav_btn').click(function () {
                $('.mobile_nav_items').toggleClass('active');
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
