﻿<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/SuperAdmin.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>
<body>
    <div id="principal">
        <div id="der">
            @RenderBody()
        </div>
        <div id="izq">
            <div id="logo">
                <img src="/Images/Logotobe.png" height="250" width="250" />
            </div>
            <div id="AgregarEnti">
               <a class="boton" asp-action="Create"><h1>Agregar entidad</h1></a>

            </div>
            <div id="EntidadesAgregadas">
                <a class="boton" asp-action="Index"> <h1>Entidades agregadas</h1></a>
            </div>
            <div id="AgregarAdmin">
                <a class="boton"><h1>Agregar administrador de entidad</h1></a>
            </div>
            <div id="Informes">
                <a class="boton"><h1>Informes</h1></a>
            </div>
            <div id="Cerrarse">
                <a class="boton"><h1>Cerrar sesión</h1></a>
            </div>
        </div>
    </div>
    <footer>
        <div id="copyrigth">
            <p>Copyright © 2020 | All Rights Reserved</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
