﻿@model TobeAppWeb.Models.ReporteCovid

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Create</h2>

<h4>ReporteCovid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdSedes" class="control-label"></label>
                <select asp-for="IdSedes" class ="form-control" asp-items="ViewBag.IdSedes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerodeIdentificacion" class="control-label"></label>
                <input asp-for="NumerodeIdentificacion" class="form-control" />
                <span asp-validation-for="NumerodeIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreadeTrabajo" class="control-label"></label>
                <input asp-for="AreadeTrabajo" class="form-control" />
                <span asp-validation-for="AreadeTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label"></label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SintomasFamilia" class="control-label"></label>
                <input asp-for="SintomasFamilia" class="form-control" />
                <span asp-validation-for="SintomasFamilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rta6" class="control-label"></label>
                <input asp-for="Rta6" class="form-control" />
                <span asp-validation-for="Rta6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rta7" class="control-label"></label>
                <input asp-for="Rta7" class="form-control" />
                <span asp-validation-for="Rta7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rta8" class="control-label"></label>
                <input asp-for="Rta8" class="form-control" />
                <span asp-validation-for="Rta8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rta9" class="control-label"></label>
                <input asp-for="Rta9" class="form-control" />
                <span asp-validation-for="Rta9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estadodeanimo" class="control-label"></label>
                <input asp-for="Estadodeanimo" class="form-control" />
                <span asp-validation-for="Estadodeanimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermedades" class="control-label"></label>
                <input asp-for="Enfermedades" class="form-control" />
                <span asp-validation-for="Enfermedades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iratrabajar" class="control-label"></label>
                <input asp-for="Iratrabajar" class="form-control" />
                <span asp-validation-for="Iratrabajar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerodeSintomas" class="control-label"></label>
                <input asp-for="NumerodeSintomas" class="form-control" />
                <span asp-validation-for="NumerodeSintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notificado" class="control-label"></label>
                <input asp-for="Notificado" class="form-control" />
                <span asp-validation-for="Notificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificadoU" class="control-label"></label>
                <input asp-for="NotificadoU" class="form-control" />
                <span asp-validation-for="NotificadoU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

