﻿@model TobeAppWeb.Models.ReporteCovid

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReporteCovid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumerodeIdentificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumerodeIdentificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreadeTrabajo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreadeTrabajo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sintomas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sintomas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SintomasFamilia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SintomasFamilia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rta6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rta6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rta7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rta7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rta8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rta8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rta9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rta9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estadodeanimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estadodeanimo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermedades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermedades)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iratrabajar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iratrabajar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumerodeSintomas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumerodeSintomas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notificado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notificado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificadoU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotificadoU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSedesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSedesNavigation.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contraseña)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
