﻿@model IEnumerable<TobeAppWeb.Models.ReporteCovid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerodeIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreadeTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SintomasFamilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rta6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rta7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rta8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rta9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadodeanimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iratrabajar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerodeSintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificadoU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSedesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerodeIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreadeTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SintomasFamilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadodeanimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermedades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iratrabajar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerodeSintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificadoU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSedesNavigation.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Contraseña)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
