﻿@model TobeAppWeb.Models.PermisoUsuarios

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar este permiso?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Entidad
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdEntidadNavigation.Entidad)
        </label><br /><br />
        <h1>
            Nombre de usuario
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdUsuariosNavigation.Nombredeusuario)
        </label><br /><br />
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
