﻿@model TobeAppWeb.Models.PermisoUsuarios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Detalles del permiso</h2>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Entidad
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdEntidadNavigation.Entidad)
        </label><br /><br />
        <h1>
            Nombre de usuario
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdUsuariosNavigation.Nombredeusuario)
        </label>
    </div>
    <br />
    <br />
    <div>
        <a asp-action="Index">Volver</a>
    </div>

</div>
