﻿
@using Microsoft.AspNetCore.Identity
@using TobeAppWeb.Modelos
@inject SignInManager<ApplicationUser> signinmanager
@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TobeAppWeb</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>



<body>
    <h2>Reportes</h2>
    <div id="menu" class="mobile_nav_items">
        
        @if (signinmanager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <iframe width="1424" height="804" 
                src=@ViewData["link"]
                frameborder="0" allowFullScreen="true"></iframe>
        }
    </div>

    

</body>
</html>

