﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = "~/Views/Shared/_LayoutTobe.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTobe.cshtml";
    }
}

<h2>Editar perfil</h2>
<hr />
<div>

    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
