﻿@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Correo electrónico</h2>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row" id="conten">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                 else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <input id="email-verification" value="Enviar correo de verificación" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">
                }
            </div>
            <div class="form-group">
                <label>Nuevo correo electrónico</label>
                <input asp-for="Input.NewEmail" type="text" class="form-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <input id="change-email-button" value="Cambiar correo electrónico" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
