﻿@page
@model IndexModel
@{
    //Layout = "~/Views/Shared/_LayoutTobe.cshtml";
    ViewData["Title"] = "Perfil usuario";
    ViewData["ActivePage"] = ManageNavPages.Index;

}


<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>@ViewData["Title"]</h2>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row" id="conten">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nombre de usuario</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Número de teléfono</label>
                <input asp-for="Input.PhoneNumber" type="tel" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <input id="update-profile-button" value="Guardar" type="submit" class="btn btn-primary">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}