﻿@model TobeAppWeb.Models.ReporteCovid

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>


<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar este reporte?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            @Html.DisplayNameFor(model => model.Nombre)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Nombre)
        </label>
        <h1>
            Número de identificación
        </h1>
        <label>
            @Html.DisplayFor(model => model.NumerodeIdentificacion)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Fecha)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Fecha)
        </label>
        <h1>
            Área de trabajo
        </h1>
        <label>
            @Html.DisplayFor(model => model.AreadeTrabajo)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Sintomas)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Sintomas)
        </label>
        <h1>
            Sintomas en la familia
        </h1>
        <label>
            @Html.DisplayFor(model => model.SintomasFamilia)
        </label>
        <h1>
            Contacto estrecho con alguien que haya presentado síntomas
        </h1>
        <label>
            @Html.DisplayFor(model => model.Rta6)
        </label>
        <h1>
            Personas con las que convive, tuvo contacto estrecho con algún caso positivo para covid-19
        </h1>
        <label>
            @Html.DisplayFor(model => model.Rta7)
        </label>
        <h1>
            Caso positivo para covid-19 en la familia
        </h1>
        <label>
            @Html.DisplayFor(model => model.Rta8)
        </label>
        <h1>
            Utiliza transporte público
        </h1>
        <label>
            @Html.DisplayFor(model => model.Rta9)
        </label>
        <h1>
            Otras enfermedades
        </h1>
        <label>
            @Html.DisplayFor(model => model.Enfermedades)
        </label>
        <h1>
            Capacidad de ir a la oficina
        </h1>
        <label>
            @Html.DisplayFor(model => model.Iratrabajar)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Comentarios)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Comentarios)
        </label>
        <h1>
            Número de sintomas
        </h1>
        <label>
            @Html.DisplayFor(model => model.NumerodeSintomas)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Notificado)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Notificado)
        </label>
        <h1>
            Nombre de usuario
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombredeusuario)
        </label><br /><br />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
