﻿@model List<TobeAppWeb.Modelos.ReporteCovidModel>

@{
    ViewData["Title"] = "IndexPrueba";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}


<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Enviar notificación</h2>
<label><input type="checkbox" id="iratrabajar" value="first_checkbox" checked="checked">No ir a la oficina</label>

<label><input type="checkbox" id="citateleme" value="first_checkbox" > Cita de Telemedicina</label>

<label><input type="checkbox" id="selectall" value="first_checkbox">Seleccionar todo</label>


<br>
<br>
<br>

<form asp-action="IndexEnviarNotifi" method="post">
    <table class="GeneratedTable">
        <thead>
            <tr><th>Usuario</th><th>Nombre de la sede</th><th>Fecha del reporte</th><th>Fecha actual</th><th>Numero de sintomas</th><th>No ir a la oficina</th><th>Cita de Telemedicina</th><th>Seleccionar </th></tr>
        </thead>
        
            @for (var i = 0; i < Model.Count; i++)
            {
            <tr>
                <th><label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">@Model[i].Nombredeusuario</label><input type="hidden" asp-for="@Model[i].IdUsuario" /></th>
                <th><label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">@Model[i].Sede</label><input type="hidden" asp-for="@Model[i].IdReporteCovid" /></th>
                <th><label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">@Model[i].FechadeReporte</label><input type="hidden" asp-for="@Model[i].FechaActualparaNotificar" /></th>
                <th><label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">@Model[i].FechaActualparaNotificar</label><input type="hidden" asp-for="@Model[i].EntidadNotifica" /></th>
                <th><label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">@Model[i].NumerodeSintomas</label></th>
                <th><input asp-for="@Model[i].IraTrabajar" class="iratrabajar" /></th>
                <th><input asp-for="@Model[i].CitaTelemedicina" class="citateleme" /></th>
                <th><input asp-for="@Model[i].EstaSeleccionado" class="selectall" /></th>
                </tr>
                }
           
        </table>
    <br>
    <br>

    <div class="card-footer">
        <input type="submit" value="Actualizar" class="btn btn-primary" style="width:auto" />
            <a asp-action="IndexSinNotifi">Cancelar</a>
    </div>
</form>

<script>
      $(document).ready(function () {
        $('#selectall').on('click', function () {
          var checked_status = this.checked;

          $(".selectall").each(function () {
            this.checked = checked_status;
          });
        });
      });

    $(document).ready(function () {
        $('#citateleme').on('click', function () {
            var checked_status = this.checked;

            $(".citateleme").each(function () {
                this.checked = checked_status;
            });
        });
    });

    $(document).ready(function () {
        $('#iratrabajar').on('click', function () {
            var checked_status = this.checked;

            $(".iratrabajar").each(function () {
                this.checked = checked_status;
            });
        });
    });
</script>
