﻿@model IEnumerable<TobeAppWeb.Models.ReporteCovid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Reportes notificados</h2>


<table class="GeneratedTable">
    <thead>
        <tr>
            <th>
                Nombre sede
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Número de identificación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Área de trabajo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                Sintomas en la familia
            </th>
            <th>
                Contacto estrecho con alguien que haya presentado síntomas
            </th>
            <th>
                Personas con las que convive, tuvo contacto estrecho con algún caso positivo para covid-19
            </th>
            <th>
                Caso positivo para covid-19 en la familia
            </th>
            <th>
                Utiliza transporte público
            </th>
            <th>
                Estados de animo
            </th>
            <th>
                Otras enfermedades
            </th>
            <th>
                Capacidad de ir a la oficina
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                Número de sintomas
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notificado)
            </th>
            <th>
                Correo electrónico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSedesNavigation.NombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerodeIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreadeTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SintomasFamilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rta9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadodeanimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermedades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iratrabajar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerodeSintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombredeusuario)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
