﻿@model TobeAppWeb.Models.Sedes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Crear sede</h2>
<hr />


<div id="conten">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div>
                    <label>@TempData["Mensaje"]</label>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Entidad</label>
                    <select asp-for="IdEntidad" class="select-css" asp-items="ViewBag.IdEntidad"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre de sede</label>
                    <br />
                    <input asp-for="NombreSede" type="text" class="form-control" />
                    <span asp-validation-for="NombreSede" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">País</label>
                    <br />
                    <input asp-for="Pais" type="text" class="form-control" />
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Departamento</label>
                    <br />
                    <input asp-for="Departamento" type="text" class="form-control" />
                    <span asp-validation-for="Departamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Ciudad</label>
                    <br />
                    <input asp-for="Ciudad" type="text" class="form-control" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <br />
                    <input asp-for="Direccion" type="text" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitud" class="control-label"></label>
                    <br />
                    <input asp-for="Latitud" type="text" class="form-control" />
                    <span asp-validation-for="Latitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitud" class="control-label"></label>
                    <br />
                    <input asp-for="Longitud" type="text" class="form-control" />
                    <span asp-validation-for="Longitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
                    <a asp-action="Index">Volver</a>
                </div>
            </form>
        </div>
    </div>

</div>


