﻿@model TobeAppWeb.Models.Sedes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar esta sede?</h3>
<hr />
<div id="conten">
    <div>
        <h1>Nombre de sede</h1>
        <label>@Html.DisplayFor(model => model.NombreSede)</label>

        <h1>País</h1>
        <label>
            @Html.DisplayFor(model => model.Pais)
        </label><br />
        <h1>
            @Html.DisplayNameFor(model => model.Departamento)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Departamento)
        </label><br />
        <h1>
            @Html.DisplayNameFor(model => model.Ciudad)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Ciudad)
        </label><br />
        <h1>
            Dirección
        </h1>
        <label>
            @Html.DisplayFor(model => model.Direccion)
        </label><br />
        <h1>
            @Html.DisplayNameFor(model => model.Latitud)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Latitud)
        </label><br />
        <h1>
            @Html.DisplayNameFor(model => model.Longitud)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Longitud)
        </label><br />
        <h1>
            Entidad
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdEntidadNavigation.Entidad)
        </label><br /><br />
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
