﻿@model TobeAppWeb.Models.Sedes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Editar sede</h2>
<hr />

<div id="conten">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Entidad</label>
                    <select asp-for="IdEntidad" class="select-css" asp-items="ViewBag.IdEntidad"></select>
                    <span asp-validation-for="IdEntidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre de entidad</label>
                    <input asp-for="NombreSede" class="form-control" />
                    <span asp-validation-for="NombreSede" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">País</label>
                    <input asp-for="Pais" class="form-control" />
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Departamento" class="control-label"></label>
                    <input asp-for="Departamento" class="form-control" />
                    <span asp-validation-for="Departamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ciudad" class="control-label"></label>
                    <input asp-for="Ciudad" class="form-control" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitud" class="control-label"></label>
                    <input asp-for="Latitud" class="form-control" />
                    <span asp-validation-for="Latitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitud" class="control-label"></label>
                    <input asp-for="Longitud" class="form-control" />
                    <span asp-validation-for="Longitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <a asp-action="Index">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>

