﻿dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 25px;
}

dd {
    margin-bottom: 40px;
}

h2 {
    font-size: 35px;
}
h1 {
    font-size: 25px;
}

#conten {
    width: 30%;
    margin: auto;
}
a {
    font-size: 16px;
}
label {
    font-size: 20px;
}

input[type=button], input[type=submit], input[type=reset] {
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
}
input[type=date] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 15px;
    border-color: #00957E;
}