﻿

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}



* body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 25px;
    width: calc(100% - 0%);
    top: 0;
    height: 40px;
}

.left_area {
    height: 40px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 100;
    height: 40px;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 0px;
    background: #22242A;
    text-decoration: none;
    float: right;
    margin-top: -73px;
    margin-right: 50px;
    border-radius: 2px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
input[type=date] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 15px;
    border-color: #00957E;
}

.partial {
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
    margin-top: 90px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

    .sidebar a:hover {
        background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
    }

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

    label #sidebar_btn:hover {
        color: #19B3D3;
    }

#check:checked ~ .sidebar {
    left: -185px;
}

    #check:checked ~ .sidebar a span {
        display: none;
    }

    #check:checked ~ .sidebar a {
        font-size: 20px;
        margin-left: 165px;
        width: 100%;
    }

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content {
    margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~ .content {
        margin-left: 0;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

        .nav_bar .mobile_profile_image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .nav_bar .nav_btn {
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            transition: 0.5s;
            transition-property: color;
        }

            .nav_bar .nav_btn:hover {
                color: #19B3D3;
            }

    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }

        .mobile_nav_items a {
            color: #fff;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            line-height: 60px;
            text-decoration: none;
            box-sizing: border-box;
            transition: 0.5s;
            transition-property: background;
        }

            .mobile_nav_items a:hover {
                background: #19B3D3;
            }

        .mobile_nav_items i {
            padding-right: 10px;
        }

    .active {
        display: block;
    }
}
a {
    font-size: 16px;
}
