﻿/*Fuente Montserrat*/

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}

input[type=text] {
    width: 100%;
    height: 100%;
    border: 1px solid #00957E;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-family: Montserrat;
    font-size: 25px;
}

    input[type=text]:focus {
        border-color: rgba(0,147,126,1);
        box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    }

input[type=number] {
    width: 100%;
    height: 100%;
    border: 1px solid #00957E;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-family: Montserrat;
    font-size: 25px;
}

    input[type=number]:focus {
        border-color: rgba(0,147,126,1);
        box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    }


input[type=password] {
    width: 100%;
    height: 100%;
    border: 1px solid #00957E;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-family: Montserrat;
    font-size: 25px;
}

    input[type=password]:focus {
        border-color: rgba(0,147,126,1);
        box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    }



#principal {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

body {
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
}

#izq {
    float: left;
    width: 40%;
    height: 100%;
    margin: 250px 0 0 0;
}

#logo {
    width: 40%;
    height: 100%;
    margin-left: 20px;
}

#lema {
    width: 600px;
    height: 63px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    color: white;
}

#der {
    width: 600px;
    height: 500px;
    float: right;
    margin: 250px 0 0 0;
}

#Correo {
    width: 460px;
    height: 45px;
    margin: 20px 0px;
}

#Contrasena {
    width: 460px;
    height: 45px;
    margin: 20px 0;
}

#IniciarSesion {
    width: 460px;
    height: 60px;
    margin: 20px 0px;
}


.iniciasesionBtn {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #00957E;
    border-radius: 10px;
    border: 8px solid #00957E;
}

#mantener {
    width: 460px;
    height: 45px;
    margin: 20px 0;
}

.custom-radio-checkbox__text {
    font-family: Montserrat;
    font-size: 25px;
    color: white;
}

.custom-radio-checkbox__input {
    height: 20px;
    width: 20px;
    vertical-align: central;
    margin: 10px 10px 0 0;
}

input[type=date] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 15px;
    border-color: #00957E;
}

#Email {
    font-family: Montserrat;
    font-size: 30px;
}

#Contra {
    font-family: Montserrat;
    font-size: 30px;
}

#Olvido {
    width: 520px;
    height: 45px;
}

.olvidocontrasena {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin: 0 0 0 30px;
}

#Olvido2 {
    width: 520px;
    height: 45px;
}

.olvidocontrasena2 {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin: 0 0 0 0px;
}


#Registrarse {
    width: 460px;
    height: 60px;
    margin: 40px 0px;
}

.RegistrarseBtn {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #00957E;
    border-radius: 10px;
    border: 8px solid #00957E;
    padding: 10px 155px;

}


#copyrigth {
    width: 100%;
    height: 63px;
    margin: 140px 0 0 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    float: left;
}

.ventana {
    background: #003842;
    width: 600px;
    height: 920px;
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 0px auto;
    display: none;
    position: absolute;
    margin: 0 0 0 400px;
}

#cerrarven {
    position: absolute;
    right: 5px;
    top: 5px;
}

#ventLogoCentrado {
    align-content: center;
    top: 5px;
    height: 80px;
}

#nombrecompleto {
    width: 460px;
    height: 45px;
    margin: 5px 0 0 70px;
    align-content: center;
}

#nuevocorreo {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
}

#NumeroCel {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
}

#Lugardenacimiento {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
}

#FechaNacimiento {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}



[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

    [type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 150px;
    height: 30px;
    font-family: Montserrat;
    font-size: 20px;
}

}

label {
    display: block;
    font-size: 25px;
    font-family: Montserrat;
    color: white;
    float: left;
}

#Genero {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 25px;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #00957E;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

    .select-css::-ms-expand {
        display: none;
    }

    .select-css:hover {
        border-color: #00957E;
    }

    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px black;
        color: #222;
        outline: none;
    }

    .select-css option {
        font-weight: normal;
    }

#Formacion {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}


#NuevaContrasena {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}

#NewPass {
    font-family: Montserrat;
    font-size: 25px;
}

#PoliticaTrat {
    width: 80%;
    height: 60px;
    margin: 40px 0 0 60px;
}


.politicaBtn {
    text-decoration: none;
    font-weight: 300;
    font-size: 25px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #00957E;
    border-radius: 10px;
    border: 8px solid #00957E;
    padding: 10px 45px;
}

#AceptaPoli {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}

#Mensaje {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}


p {
    font-family: Montserrat;
    font-size: 15px;
}

h1 {
    font-family: Montserrat;
    font-size: 25px;
    color: white;
}

h2 {
    font-family: Montserrat;
    font-size: 40px;
    color: white;
}

#ConfirmarRegistro {
    width: 460px;
    height: 45px;
    margin: 20px 0 0 70px;
    align-content: center;
    color: white;
}

.RegisterBtn {
    text-decoration: none;
    font-weight: 300;
    font-size: 25px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #00957E;
    border-radius: 10px;
    border: 8px solid #00957E;
    padding: 10px 65px;
}
