﻿@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}


body {
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
}

#principal {
    width: 1400px;
    height: 960px;
    margin: 0 auto;
}

#copyrigth {
    width: 100%;
    height: 63px;
    margin: 120px 0 0 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    float: left;
}

p {
    font-family: Montserrat;
    font-size: 15px;
}

#izq {
    float: left;
    width: 600px;
    height: 700px;
    margin: 50px 0 0 0;
}

#der {
    width: 700px;
    height: 700px;
    float: right;
    margin: 50px 0 0 0;
}

#logo {
    width: 250px;
    height: 250px;
    margin-left: 320px;
}

#AgregarEnti {
    width: 200px;
    height: 40px;
    margin: 20px 0 0 370px;
    align-content: center;
    border-radius: 10px;
    vertical-align: central;
    font-family: Montserrat;
}

h1 {
    color: white;
    text-align: end;
    font-size: 25px;
    margin: auto;
    font-family: Montserrat;
}

#EntidadesAgregadas {
    width: 300px;
    height: 40px;
    margin: 20px 0 0 270px;
    align-content: center;
    border-radius: 10px;
}

#Cerrarse {
    width: 150px;
    height: 40px;
    margin: 20px 0 0 420px;
    align-content: center;
    border-radius: 10px;
}

#AgregarAdmin {
    width: 250px;
    height: 60px;
    margin: 20px 0 0 320px;
    align-content: center;
    border-radius: 10px;
}

#Informes {
    width: 100px;
    height: 40px;
    margin: 20px 0 0 470px;
    align-content: center;
    border-radius: 10px;
}

.boton {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    background-color: #00957E;
    border: none;
    text-align: center;
}

h2 {
    color: white;
    text-align: start;
    font-size: 40px;
    font-family: Montserrat;
}

#Titulo {
    width: 500px;
    height: 80px;
    align-content: start;
    border-radius: 10px;
}

.entidad {
    width: 700px;
    height: 250px;
    align-content: start;
    border-radius: 20px;
    border: 1px solid #00957E;
    margin-top: 25px;
    background: white;
}

h3{
    color: red;
    font-size: 15px;
    font-family: Montserrat;
}

#Subtitulo{
    height: 40px;
    width: 600px;
    align-content: start;
    margin-bottom: 30px;
}