﻿table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

    table.GeneratedTable td, table.GeneratedTable th {
        border-width: 2px;
        border-color: #000000;
        border-style: solid;
        padding: 3px;
    }

    table.GeneratedTable thead {
        background-color: #009480;
    }

label{
    font-size: 20px;
}

input[type=date] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 15px;
    border-color: #00957E;
}

input[type=button], input[type=submit], input[type=reset] {
    background: linear-gradient(0deg, rgba(0,147,126,1) 0%, rgba(0,56,66,1) 100%);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
}

a{
    font-size: 16px;
}

input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 15px;
    border-color: #00957E;
}

#conten {
    width: 25%;
    margin: auto;
}