/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
.bootbox-confirm{
    background-color:rgba(112,243,199,0.8);
}
.bootbox-body{
    height: 240px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 71px;
}
#car_select_body{
    text-align: left;
}
.informacion{
    text-align:left !important;
}
.panel-title>a{
    font-size: 23px; 
}
.icono_head{
    float: right;
    position: relative;
    top: -16px;
}
.informacion p{
    color:black;
}
.panel-heading{
    padding: 30px 15px;
}
#left_menu2{
    position: relative;
    right: 8px;
    top: 7px;
    font-size: 22px;
    color: black;
    display: inline;
    cursor: pointer;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav li{
    border-bottom: solid 1px darkgrey;
    margin-left: 12px;
    width: 82%;
}
#left_menu_div{
    border-bottom: none !important;
    margin-left: 0 !important;
    width: 100%;
}
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 999999;
    position: fixed;
    
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F3F3F3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #000000;
    font-family: main;
    font-size: 14px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: main;
    font-size: 14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}