﻿.fancybox-overlay {
    z-index: 99999 !important;

}

.fancybox-wrap {
    z-index: 9999999 !important;
}

#boton-menu-historia {
    position: fixed !important;
    z-index: 2147483647 !important;
}

#boton-menu-i{
    right: 0px !important;
    position: fixed  !important;
    z-index: 2147483647 !important;   
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.flechasApple{
    display:none;
}

/* Set width on the form input elements since they're 100% wide by default

input,
select,
textarea {
    /*max-width: 280px;*/
}
*/
