﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidó su contraseña?";
}

<head>
    <link rel="stylesheet" href="/css/Olvido.css" />
    <title>ToBe</title>
</head>

<h2>@ViewData["Title"]</h2>
<h1>Ingrese su correo electrónico</h1>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Correo electrónico</label>
                <input asp-for="Input.Email" type="text" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
