﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvido de contraseña";
    
}
<head>
    <link rel="stylesheet" href="/css/Olvido.css" />
    <title>ToBe</title>
</head>

<h2>@ViewData["Title"]</h2>

<div id="conten">
    <h1>
        Por favor revise su correo elctrónico para la nueva contraseña.
    </h1>
</div>

