﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<head>
    <link rel="stylesheet" href="/css/Principal.css" />
    <title>ToBe</title>
</head>
<body>
    <div id="principal">
        <div id="izq">
            <div id="logo">
                <img src="/Images/Tobe.png" height="300" width="566" />
            </div>
            <div id="lema">
                <h2>Analizamos la experiencia desde la persona</h2>
            </div>
        </div>

        <div id="der">
            <div class="row">
                <div class="col-md-4">
                    <section>
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Input.Email" type="text" id="Correo" class="form-control" placeholder="Correo electrónico" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" type="password" class="form-control" id="Contrasena" placeholder="Contraseña" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div id="mantener">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <h1>
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                Mantener sesión
                                            </label>
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="iniciasesionBtn" id="IniciarSesion">Iniciar sesión</button>
                            </div>
                            <div id="Olvido2">
                                <h1>
                                    <a class="olvidocontrasena2" asp-page="./ForgotPassword">¿Olvidó su contraseña de administrador?</a>
                                </h1>
                            </div>
                            <div id="Olvido">
                                <h1>
                                    <a class="olvidocontrasena" asp-controller="Usuarios_" asp-action="RestaurarContraseña">¿Olvidó su contraseña de usuario?</a>
                                </h1>
                            </div>
                            <div id="Registrarse">
                                <p>
                                    <a class="RegistrarseBtn" asp-page="./RegistroClientes">Registrarse</a>
                                </p>
                            </div>

                        </form>
                    </section>
                </div>

            </div>
        </div>
        <div id="copyrigth">
            <p>Copyright © 2020 | All Rights Reserved</p>
        </div>


        <!-- Pantalla emergente de registro -->

        <div class="ventana" id="vent">
            <div id="cerrarven">
                <a href="javascript:cerrarvent()"><img src="/Images/x.png" height="20" width="20" /></a>

            </div>
            <div id="ventLogoCentrado">
                <img src="/Images/Logotobe.png" height="80" width="80" />
            </div>

            <div id="nombrecompleto">
                <input type="text" placeholder="Nombre completo" id="UserName" />
            </div>
            <div id="nuevocorreo">
                <input type="text" placeholder="Correo electrónico" id="UserPassword" />
            </div>
            <div id="NumeroCel">
                <input type="text" placeholder="Número de celular" id="UserNumber" />
            </div>
            <div id="Lugardenacimiento">
                <input type="text" placeholder="Lugar de nacimiento" id="UserBornPlace" />
            </div>
            <div id="FechaNacimiento">
                <label for="dateofbirth">Fecha de nacimiento:</label>
                <input type="date" name="UserBirthday" id="UserBirthday" />
            </div>
            <div id="Genero">
                <select class="select-css" id="UserGen">
                    <option>Género:</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <div id="Formacion">
                <select class="select-css" id="UserForm">
                    <option>Formación:</option>
                    <option>No tiene.</option>
                    <option>Bachiller.</option>
                    <option>Profesional.</option>
                    <option>Magister.</option>
                    <option>Doctorado.</option>
                    <option>Postdoctorado.</option>
                </select>
            </div>
            <div id="NuevaContrasena">
                <input type="password" placeholder="Cree su contraseña" id="NewPass" />
            </div>
            <div id="PoliticaTrat">
                <a class="politicaBtn" href="www.facebook.com">Política de tratamiento de datos</a>
            </div>
            <div id="AceptaPoli">
                <label class="custom-radio-checkbox">
                    <input class="custom-radio-checkbox__input" type="checkbox" name="AceptaPoli" value="false" />
                    <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
                    <span class="custom-radio-checkbox__text">Acepto la política de tratamiento de datos</span>
                </label>
            </div>
            <div id="Mensaje">
                <p>Al aceptar y completar este registro está aceptando nuestra política de tratamiento de datos</p>
            </div>
            <div id="ConfirmarRegistro">
                <a  class="RegisterBtn" href="#">Registrarme</a>
            </div>

        </div>

    </div>



    <script>
        function abrir() {
            document.getElementById("vent").style.display = "block";
        }
        function cerrarvent() {
            document.getElementById("vent").style.display = "none";
        }
    </script>
</body>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
