﻿@page
@model RegistroClientesModel
@{

}

<head>
    <link rel="stylesheet" href="/css/Olvido.css" />
    <title>ToBe</title>
</head>

<h2>Crear usuario</h2>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario</label>
                <input asp-for="Input.Nombredeusuario" class="form-control" />
                <span asp-validation-for="Input.Nombredeusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="Input.Contraseña" class="form-control" />
                <span asp-validation-for="Input.Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico</label>
                <input asp-for="Input.Correo" class="form-control" />
                <span asp-validation-for="Input.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input asp-for="Input.Telefono" class="form-control" />
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lugar de nacimiento</label>
                <input asp-for="Input.Lugardenacimiento" class="form-control" />
                <span asp-validation-for="Input.Lugardenacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimiento</label>
                <input asp-for="Input.Fechadenacimiento" type="date" class="form-control" />
                <span asp-validation-for="Input.Fechadenacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Género</label>
                <select asp-for="Input.Genero" class="select-css" asp-items="ViewBag.genero"></select>
                <span asp-validation-for="Input.Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Formación</label>
                <select asp-for="Input.Formacion" class="select-css" asp-items="ViewBag.formacion"></select>
                <span asp-validation-for="Input.Formacion" class="text-danger"></span><br /><br />
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
                
            </div>
        </form>
    </div>
</div>


