﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}



<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Crear nuevo administrador.</h2>
<hr />

<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Correo electrónico</label>
                <input asp-for="Input.Email" type="text" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirmar contraseña</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Permiso</label>
                <select asp-for="Input.permiso" class="select-css" asp-items="ViewBag.Permiso"></select>
                <span asp-validation-for="Input.permiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Entidad</label>
                <select asp-for="Input.IdEntidad" class="select-css" asp-items="ViewBag.IdEntidad"></select><br /><br />
            </div>
            <input type="submit" value="Registrar" class="btn btn-primary" />
            <a asp-action="Index" asp-controller="Asp_Net_Users">Volver</a>
            <br /><br />
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
