﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h1>Cambio de contraseña</h1>
<p>
    Su contraseña se ha actualizado <a asp-page="./Login">iniciar sesión</a>.
</p>
