﻿@model TobeAppWeb.Modelos.CrearEvento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Crear eventos, noticias y retos</h2>

<hr />

<div id="conten" class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre de la sede</label>
                <select asp-for="IdSede" class="select-css" asp-items="ViewBag.IdSede"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <select asp-for="Tipo" class="select-css" asp-items="ViewBag.Tipo"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <p>1. Evento. 2.Noticia. 3. Reto.</p>
            <div class="form-group">
                <label class="control-label">Título</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <input asp-for="Imagen" type="file" id="Imagen" name="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" id="btnupload" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('#btnupload').on('click', function () {
            var filename = $('#Imagen').val();
            var fileExtension = ['png', 'jpg'];
            if (filename.length == 0) {
                alert("Por favor seleccione un archivo de imagen.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Por favor seleccione solo imagenes tipo png o jpg.");
                    return false;
                }
            }

        });
    });

   
</script>



