﻿@model TobeAppWeb.Models.EventosyNoticias

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Tipo
        </h1>
        <label>
            @Html.DisplayFor(model => model.Tipo)
        </label>
        <h1>
            Título
        </h1>
        <label>
            @Html.DisplayFor(model => model.Titulo)
        </label>
        <h1>
            Descripción
        </h1>
        <label>
            @Html.DisplayFor(model => model.Descripcion)
        </label>
        <h1>
            Imagen
        </h1>
        <label>
            @Html.DisplayFor(model => model.Imagen)
        </label>
        <h1>
            Sede
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdSedeNavigation.NombreSede)
        </label><br /><br />

    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
