﻿@model TobeAppWeb.Models.EventosyNoticias

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Detalles eventos, noticias y retos</h2>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Tipo
        </h1>
        <label>
            @Html.DisplayFor(model => model.Tipo)
        </label>
        <h1>
            Titulo
        </h1>
        <label>
            @Html.DisplayFor(model => model.Titulo)
        </label>
        <h1>
            Descripción
        </h1>
        <label>
            @Html.DisplayFor(model => model.Descripcion)
        </label>
        <h1>
            Imagen
        </h1>
        <label>
            @Html.DisplayFor(model => model.Imagen)
        </label>
        <h1>
            Sede
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdSedeNavigation.NombreSede)
        </label>
        <br />
        <br />

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver</a>
    </div>
</div>

