﻿@model TobeAppWeb.Models.EventosyNoticias

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Editar eventos, noticias y retos</h2>

<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Nombre sede</label>
                <select asp-for="IdSede" class="select-css" asp-items="ViewBag.IdSede"></select>
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <select asp-for="Tipo" class="select-css" asp-items="ViewBag.Tipo"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <p>1. Evento. 2.Noticia. 3. Reto.</p>
            <div class="form-group">
                <label class="control-label">Título</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

