﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#btnupload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Por favor seleccione un archivo.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Por favor solo seleccione archivos tipo excel (xls o xlsx).");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/UsuariosMasivos/Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Ocurrio un error');
                    else {
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        })
        $('#btnExport').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Por favor seleccione un archivo luego importe.");
                return false;
            }
        });
    });

</script>
<h1>Crear masivamente</h1>
<hr />
<div id="conten">
    <form asp-controller="Home" asp-action="Export">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input type="file" id="fileupload" name="files" class="form-control" />
                </div>
                <div class="col-md-3">
                    <input type="button" name="Upload" value="Cargar" id="btnupload" class="btn btn-primary" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div id="divPrint"></div>
            </div>
            <div>
                <label>@TempData["Mensaje"]</label>
            </div>
        </div>
    </form>
    <div>
        <a asp-controller="Usuarios_" asp-action="Index">Volver</a>
    </div>

</div>

