﻿@model TobeAppWeb.Models.PermisoUsuarios

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Crear permiso de usuarios</h2>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario</label>
                <select asp-for="IdUsuarios" class ="select-css" asp-items="ViewBag.IdUsuarios"></select>
                <br /><br />
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de entidad</label>
                <select asp-for="IdEntidad" class="select-css" asp-items="ViewBag.IdEntidad"></select>
                <br /><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>


