﻿@model IEnumerable<TobeAppWeb.Models.PermisoUsuarios>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Permiso de usuarios</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
    <br />
    <br />
    <a asp-action="Index" asp-controller="PermisoUsuariosMasivosEnti">Crear Masivamente</a>
    <br />
    <br />
</p>
<table class="GeneratedTable">
    <thead>
        <tr>
            <th>
                Entidad
            </th>
            <th>
                Nombre de usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntidadNavigation.Entidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuariosNavigation.Nombredeusuario)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
