﻿@model TobeAppWeb.Modelos.CrearEntidades

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />


</head>



<h2>Crear entidades</h2>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div>
                <label>@TempData["Mensaje"]</label>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entidad" class="control-label"></label>
                <input asp-for="Entidad" class="form-control" />
                <span asp-validation-for="Entidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" type="file" id="Logo" name="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" type="color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Link Reportes</label>
                <input asp-for="LinkReportes" class="form-control" />
                <span asp-validation-for="LinkReportes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" id="btnupload" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnupload').on('click', function () {
            var filename = $('#Logo').val();
            var fileExtension = ['png'];
            if (filename.length == 0) {
                alert("Por favor seleccione un archivo de imagen.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Por favor seleccione solo imagenes tipo png.");
                    return false;
                }
            }

        });
    });


</script>


