﻿@model TobeAppWeb.Models.Entidades

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar esta entidad?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            @Html.DisplayNameFor(model => model.Entidad)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Entidad)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Descripcion)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Descripcion)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Logo)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Logo)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Color)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Color)
        </label><h1>
            Link Reportes
        </h1>
        <label>
            @Html.DisplayFor(model => model.LinkReportes)
        </label><br /><br />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">volver</a>
    </form>
</div>
