﻿@model TobeAppWeb.Models.Entidades

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Detalles de la entidad</h2> 
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            @Html.DisplayNameFor(model => model.Entidad)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Entidad)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Descripcion)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Descripcion)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Logo)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Logo)
        </label>
        <h1>
            @Html.DisplayNameFor(model => model.Color)
        </h1>
        <label>
            @Html.DisplayFor(model => model.Color)
        </label>
        <h1>
            Link Reportes
        </h1>
        <label>
            @Html.DisplayFor(model => model.LinkReportes)
        </label><br /><br />
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver</a>
    </div>
</div>

