﻿@model TobeAppWeb.Models.Calificaciones

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Create</h2>

<h4>Calificaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdItems" class="control-label"></label>
                <select asp-for="IdItems" class ="form-control" asp-items="ViewBag.IdItems"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdSede" class="control-label"></label>
                <select asp-for="IdSede" class ="form-control" asp-items="ViewBag.IdSede"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valoracion" class="control-label"></label>
                <input asp-for="Valoracion" class="form-control" />
                <span asp-validation-for="Valoracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

