﻿@model TobeAppWeb.Models.Calificaciones

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Calificaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdItemsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdItemsNavigation.NombreItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSedeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSedeNavigation.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Contraseña)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
