﻿@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/HomePage.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>
<body>
    <div class="text-center" id="conten">
        <h1 class="display-4">Bienvenido administrador</h1>
        <div id="logo">
            <img src="~/Images/Tobe.png" />
        </div>

    </div>
</body>

