﻿@model TobeAppWeb.Models.NotificacionesaReporteCovid

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<h2>Crear</h2>

<h4>Notificaciones de reporte de covid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="IdReporteCovid" class="control-label"></label>
                <select asp-for="IdReporteCovid" class ="form-control" asp-items="ViewBag.IdReporteCovid"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Entidad</label>
                <input asp-for="EntidadNotifica" class="form-control" />
                <span asp-validation-for="EntidadNotifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de notificación</label>
                <input asp-for="FechaNotifica" class="form-control" />
                <span asp-validation-for="FechaNotifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">No ir a la oficina</label>
                <input asp-for="IraTrabajar" class="form-control" />
                <span asp-validation-for="IraTrabajar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cita de Telemedicina</label>
                <input asp-for="CitaTelemedicina" class="form-control" />
                <span asp-validation-for="CitaTelemedicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

