﻿@model TobeAppWeb.Models.NotificacionesaReporteCovid

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>


<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar esta notificación?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Entidad
        </h1>
        <label>
            @Html.DisplayFor(model => model.EntidadNotifica)
        </label>
        <h1>
            Fecha
        </h1>
        <label>
            @Html.DisplayFor(model => model.FechaNotifica)
        </label>
        <h1>
            No ir a trabajar
        </h1>
        <label>
            @Html.DisplayFor(model => model.IraTrabajar)
        </label>
        <h1>
            Cita de Telemedicina
        </h1>
        <label>
            @Html.DisplayFor(model => model.CitaTelemedicina)
        </label>
        <h1>
            Área de trabajo
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdReporteCov.AreadeTrabajo)
        </label>
        <h1>
            Nombre de usuario
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdReporteCov.Nombre)
        </label>
        <br /> <br />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
