﻿@model TobeAppWeb.Models.NotificacionesaReporteCovid

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Editar notificaciones de reporte de covid</h2>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Id reporte</label>
                <select asp-for="IdReporteCovid" class="select-css" asp-items="ViewBag.IdReporteCovid"></select>
                <span asp-validation-for="IdReporteCovid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Entidad</label>
                <input asp-for="EntidadNotifica" class="form-control" />
                <span asp-validation-for="EntidadNotifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha</label>
                <input asp-for="FechaNotifica" class="form-control" />
                <span asp-validation-for="FechaNotifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">No ir a trabajar</label>
                <input asp-for="IraTrabajar" class="form-control" />
                <span asp-validation-for="IraTrabajar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cita de Telemedicina</label>
                <input asp-for="CitaTelemedicina" class="form-control" />
                <span asp-validation-for="CitaTelemedicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>


