﻿@model IEnumerable<TobeAppWeb.Models.NotificacionesaReporteCovid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Notificaciones enviadas</h2>


<table class="GeneratedTable">
    <thead>
        <tr>
            <th>
               Entidad
            </th>
            <th>
                Fecha
            </th>
            <th>
                No ir a trabajar
            </th>
            <th>
                Cita de Telemedicina
            </th>
            <th>
                Área de trabajo
            </th>
            <th>
                Nombre de usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntidadNotifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNotifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IraTrabajar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitaTelemedicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReporteCov.AreadeTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReporteCov.IdUsuarioNavigation.Nombredeusuario)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
