﻿@model TobeAppWeb.Modelos.CambiarContraseña
@{
    var roleId = ViewBag.roleId;
    ViewData["Title"] = "CambiarContraseña";

}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Restaurar contraseña</h2>
<hr />

<div class="row" id="conten">
    <div class="col-md-4">
        <div>
            <label>@TempData["Mensaje"]</label>
        </div>
        <form asp-action="CambiarContraseña" asp-route-RolId="@roleId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Ingrese su correo electrónico</label>
                <input asp-for="correo" type="text" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Nueva contraseña</label>
                <input asp-for="Contraseña" type="password" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>