﻿@model TobeAppWeb.Models.Usuarios

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}


<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h1>Crear usuarios</h1>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>@TempData["Mensaje"]</label>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario</label>
                <input asp-for="Nombredeusuario" class="form-control" />
                <span asp-validation-for="Nombredeusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">Correo electrónico</label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lugar de nacimiento</label>
                <input asp-for="Lugardenacimiento" class="form-control" />
                <span asp-validation-for="Lugardenacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimiento</label>
                <input asp-for="Fechadenacimiento" type="date" class="form-control" />
                <span asp-validation-for="Fechadenacimiento" class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label class="control-label">Género</label>
                <select asp-for="Genero" class="select-css" asp-items="ViewBag.genero"></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Formación</label>
                <select asp-for="Formacion" class="select-css" asp-items="ViewBag.formacion"></select>
                <span asp-validation-for="Formacion" class="text-danger"></span><br /><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
