﻿@model TobeAppWeb.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Eliminar usuario</h2>
<hr />
<div id="conten">

    <div class="row">
        <h1 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </label>
        <h1 class="col-sm-2">
            Nombre de usuario
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Nombredeusuario)
        </label>
        <h1 class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </label>
        <h1 class="col-sm-2">
            Correo electrónico
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </label>
        <h1 class="col-sm-2">
            Teléfono
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </label>
        <h1 class="col-sm-2">
            Lugar de nacimiento
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Lugardenacimiento)
        </label>
        <h1 class="col-sm-2">
            Fecha de nacimiento
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Fechadenacimiento)
        </label>
        <h1 class="col-sm-2">
            Género
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </label>
        <h1 class="col-sm-2">
            Formación
        </h1>
        <label class="col-sm-10">
            @Html.DisplayFor(model => model.Formacion)
        </label>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
