﻿@model IEnumerable<TobeAppWeb.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>



<h1>Usuarios</h1>


<div>
    
 
        <a asp-action="Create">Crear nuevo</a> <br />
    <a asp-controller="UsuariosMasivos" asp-action="Index">Crear masivamente</a>
</div>

<div>
    <label>@TempData["Mensaje"]</label>
</div>
<br />
<br />
<table class="GeneratedTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Nombre de usuario
            </th>
            <th>
                Correo electrónico
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Lugar de nacimiento
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Género
            </th>
            <th>
                Formación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombredeusuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugardenacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fechadenacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Formacion)
                </td>




                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
