﻿@model TobeAppWeb.Modelos.RestaurarContraseña
@{
    var roleId = ViewBag.roleId;
    ViewData["Title"] = "RestaurarContraseña";

}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>
<h2>Restaurar contraseña</h2>
<hr />

<div class="row" id="conten">
    <div class="col-md-4">
        <div>
            <label>@TempData["Mensaje"]</label>
        </div>
        <form asp-action="RestaurarContraseña" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Correo electrónico</label>
                <div class="col-sm-10">
                    <input asp-for="CorreoElectronico" type="text" class="form-control">
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Enviar Correo" class="btn btn-primary" />
                    </div>
            </div>

        </form>
    </div>
</div>