﻿
@model TobeAppWeb.Modelos.CrearRol
@{
    ViewData["Title"] = "Crear nuevo rol";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>
    <h1>Crear nuevo roll</h1>
    <hr />

    <div id="conten">
        <form asp-action="CreateRole" method="post" class="mt-3">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="form-group row">
                <label asp-for="NombreRol" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="NombreRol" type="text" class="form-control">
                    <span asp-validation-for="NombreRol" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Crear roll" class="btn btn-primary" />
                    <a asp-action="ListRoles" class="btn btn-primary">
                        Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
    

  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

