﻿
@model List<TobeAppWeb.Modelos.UsuarioRolmodelo>

@{
    var roleId = ViewBag.roleId; 
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>


    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>


<h2>Agregar o borrar usuarios de este rol</h2>
<hr />
<div id="conten">
    <form asp-action="EditarUsuarioRol" asp-route-RolId="@roleId" method="post" >

        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                @{for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1"></div>
                        <input type="hidden" asp-for="@Model[i].UsuarioID" />
                        <input type="hidden" asp-for="@Model[i].UsuarioNombre" />
                        <input asp-for="@Model[i].EstaSeleccionado" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">
                            @Model[i].UsuarioNombre
                        </label>
                    }

                }
            </div>

            <div class="card-footer">
                <input type="submit" value="Actualizar" class="btn btn-primary" style="width:auto" />
                <a asp-action="EditarRol" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">
                    Cancelar
                </a>
            </div>

        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}