﻿@model TobeAppWeb.Modelos.EditarRolViewmodel

@{
    ViewData["Title"] = "EditarRol";

    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Editar rol</h2>

<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="EditarRol" method="post" class="mt-3">
            <div asp-validation-summary="All" class="text-danger">
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre del rol</label>
                <div class="col-sm-10">
                    <input asp-for="RolNombre" type="text" class="form-control">
                    <span asp-validation-for="RolNombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                    <a asp-action="ListRoles" class="btn btn-primary" style="width:auto">Cancelar</a>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h2>Usuarios en este rol</h2>
                </div>
                <div class="card-body">

                    @if (Model.Usuarios.Any())
                    {
                        for (int i = 0; i < Model.Usuarios.Count; i++)
                        {
                            <h5 class="card-title">@Model.Usuarios[i]</h5>
                        }

                    }
                    else
                    {

                        <h5 class="card-title">Ninguno por ahora</h5>
                    }
                </div>

                <div class="card-footer">
                    <a asp-controller="Adminis" asp-action="EditarUsuarioRol" asp-route-RolId="@Model.Id"
                       class="btn btn-primary" style="width:auto">Crear o eliminar usuario</a>
                </div>

            </div>
        </form>
    </div>
</div>


