﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h1 class="bg-info text-white">Todos los roles</h1>

<a asp-action="CreateRole" class="btn btn-secondary">Crear un roll</a><br /><br />

<table class="GeneratedTable">
    <thead><tr><th>Nombre</th><th>Editar</th></tr></thead>
    @foreach (var role in Model)
    {
        <tr>
            
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                   

                    <a asp-controller="Adminis" asp-action="EditarRol"
                       asp-route-id="@role.Id" class="btn btn-primary">
                        Editar
                    </a>
                </form>
            </td>
        </tr>
    }
</table>