﻿@model TobeAppWeb.Modelos.RegistroUsuariosAdmin; 
@{
    ViewData["Title"] = "RegistroUsuarioAdmin";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Registro usuarios administradores</h2>

<div class="row" id="conten">
    <div class="col-md-12">
        <form method="post"></form>
        <div asp-validation-summary="All" class="text-danger">
            <div class="form-group">
                <label asp-for="correo"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" value="ViewBag.permiso"/>
                <span asp-validation-for="password" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <label asp-for="passwordValidar"></label>
                <input asp-for="passwordValidar" class="form-control" />
                <span asp-validation-for="passwordValidar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Permiso"></label>
                <input asp-for="Permiso" class="form-control" />
                <span asp-validation-for="Permiso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdEntidad" class="control-label"></label>
                <select asp-for="IdEntidad" class="form-control" asp-items="ViewBag.IdEntidad"></select>
                <span asp-validation-for="IdEntidad" class="text-danger"></span>
            </div>

        </div>


    </div>


</div>

