﻿@model TobeAppWeb.Models.AspNetUsers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Detalles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Borrar</h2>

<h3>¿Está seguro que quiere eliminar?</h3>
<hr />
<div id="conten">

    <div class="dl-horizontal">
        <h1>
            Permiso
        </h1>
        <label>
            @Html.DisplayFor(model => model.Permiso)
        </label>
        <h1>
            Nombre de usuario
        </h1>
        <label>
            @Html.DisplayFor(model => model.UserName)
        </label>
        <h1>
            Nombre de usuario normalizado
        </h1>
        <label>
            @Html.DisplayFor(model => model.NormalizedUserName)
        </label>
        <h1>
            Correo electrónico
        </h1>
        <label>
            @Html.DisplayFor(model => model.Email)
        </label>
        <h1>
            Correo normalizado
        </h1>
        <label>
            @Html.DisplayFor(model => model.NormalizedEmail)
        </label>
        <h1>
            Correo confirmado
        </h1>
        <label>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </label>
        <h1>
            Constraseña
        </h1>
        <label>
            @Html.DisplayFor(model => model.PasswordHash)
        </label>
        <h1>
            Sello de seguridad
        </h1>
        <label>
            @Html.DisplayFor(model => model.SecurityStamp)
        </label>
        <h1>
            Sello de concurrencia
        </h1>
        <label>
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </label>
        <h1>
            Teléfono
        </h1>
        <label>
            @Html.DisplayFor(model => model.PhoneNumber)
        </label>
        <h1>
            Teléfono confirmado
        </h1>
        <label>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </label>
        <h1>
            Autenticación de doble factor
        </h1>
        <label>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </label>
        <h1>
            Fin de bloqueo
        </h1>
        <label>
            @Html.DisplayFor(model => model.LockoutEnd)
        </label>
        <h1>
            Fin de bloqueo habilitado
        </h1>
        <label>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </label>
        <h1>
            Contador de ingresos fallidos
        </h1>
        <label>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </label>
        <h1>
            Entidad
        </h1>
        <label>
            @Html.DisplayFor(model => model.IdEntidadNavigation.Entidad)
        </label><br /><br />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
