﻿@model TobeAppWeb.Models.AspNetUsers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/Formularios.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Editar</h2>
<hr />
<div class="row" id="conten">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Entidad</label>
                <select asp-for="IdEntidad" class="select-css" asp-items="ViewBag.IdEntidad"></select>
                <span asp-validation-for="IdEntidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permiso" class="control-label"></label>
                <select asp-for="Permiso" class="form-control" asp-items="ViewBag.Permiso"></select>
                <span asp-validation-for="Permiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario normalizado</label>
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico normalizado</label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EmailConfirmed" />Correo confirmado
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sello de seguridad</label>
                <input asp-for="SecurityStamp" class="form-control" />
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sello de concurrencia</label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Número de telefono</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PhoneNumberConfirmed" /> Número de telefono confirmado
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TwoFactorEnabled" /> Atenticación de doble factor
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Fin de bloqueo</label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LockoutEnabled" /> Fin de bloqueo
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Intentos fallidos contraseña</label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

