﻿@model IEnumerable<TobeAppWeb.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTobe.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/tablas.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Supe_Administrador</title>

</head>

<h2>Usuarios administradores</h2>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Crear nuevo</a>
</p>
<table class="GeneratedTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permiso)
            </th>
            <th>
                Nombre de usuario
            </th>
            <th>
                Correo electrónico
            </th>
            <th>
                Correo confirmado
            </th>
            <th>
                Número de telefono
            </th>
            <th>
                Telefono confirmado
            </th>
            <th>
                Entidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdEntidadNavigation.Entidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
